<!DOCTYPE html>
<html lang='en' prefix='og: https://ogp.me/ns#'>
	<head>
		<title>Welcome to OpenDAT!</title>
		
		<!-- *** Miscellaneous *** -->
		<meta charset='utf-8'>
		<meta name='viewport' content='width=device-width, initial-scale=1'>
		<meta name='theme-color' content='#314EC5'>
		<meta name='author' content='OpenDAT'>
		
		<!-- *** Stylesheets *** -->
		<link rel='stylesheet' href='/css/main.css' type='text/css'>
	</head>
	<body>
		<p>Hi! Welcome to OpenDAT!</p>
	</body>
</html>
